<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div class="card" ng-repeat="l in logs">
      <div class="item item-divider">
        {{l.event}}
      </div>
      <div class="item item-text-wrap">
        {{l.data}}
      </div>
    </div>

  </ion-content>
</ion-view>
